
@{
    ViewData["Title"] = "My Blog";
}


<div class="jumbotron">
    <h1>Welcome to my blog</h1>
    <h2>Here I wrote about amazing topics in ASP NET</h2>
    <h2>default class jumbotron is in bootstrap css</h2>
</div>
<div class="jumbotron2">
    <h1> this is 2nd version with new jumbotron2 class made in site css </h1>
    <h2> if I was to use jumbotron instead of jumbotron2, it will override some features of boostrap </h2>
</div>
<div class="jumbotron3">
    <h1> this one is jumbotron3 in site css </h1>
    <h2> test test test test tes</h2>
    <h3> instead of inheriting original, copied the whole thing to cite css and made differnt version </h3>
</div>
